
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Nunito', sans-serif;
  background-color: #c7365f;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header{
    margin-top: 20px;
    font-size: 100px;

}
.dice-font-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
}
.credits-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.credits-text{
    font-size: 25px;
}
.instructions{
    margin-top: 25px;
    width: 400px;
    height: 400px;
    text-align: center;
    transform: translateX(47.7rem);

}
.htp{
    background: #fff;
padding: 30px;
}
.instructions-text{
    background: #fff;
    margin-top: 10px;
    padding: 30px;
    border-radius: 20px;
}
.link-play-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-10px);
margin-bottom: 5px;
}
a{
text-decoration: none;
color: black;
background: white;
padding: 13px;
border-radius: 13px;
font-size: 20px;
}
.pop-up-dice{
    transform: translateY(10px);
}
.pop-up-dice-container{
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
animation-name: dice-pop-up-animation;
 animation-duration: 5s;
 animation-timing-function: ease-in-out;
 animation-iteration-count: infinite;

    /* opacity: 0; */
}

.pop-up-dice{
    font-size: 50px;
}

/* dice pop-up animation */
@keyframes dice-pop-up-animation{
0%{
    transform: translateX(10px);
}
10%{
    transform: translateX(-5px);
}
20%{
    transform: translateX(10px);
}
30%{
    transform: translateX(-5px);
}
40%{
    transform: translateX(10px);
}
50%{
       transform: translateX(-5px); 
}
60%{
     transform: translateX(10px);   
}
70%{
           transform: translateX(-5px); 
}
80%{
       transform: translateX(10px);     
}
90%{
              transform: translateX(-5px);  
}
100%{
transform: translateX(10px);
}
}